@import "../../../assets/style/theme.scss";
@import "../../../assets/style/mixin.scss";

.CardHead {
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.icon {
  margin-left: 10px;
}
