// base colors
$Base-color-1: #029491;
$Base-color-2: #000000;
$Base-color-3: #ffffff;

// secondary colors
$Secondary-color-1: #FFB64F;
$Secondary-color-2: #7CE3E1;
$Secondary-color-3: #5970FF;
$Secondary-color-4: #C7C7C7;
$Secondary-color-5: #949494;
$Secondary-color-6: #FF5959;
$Secondary-color-7: #D9D9D9;
$Secondary-color-8: #8AC540;