@import "../../assets/style/theme.scss";
@import "../../assets/style/mixin.scss";

.main {
  padding-bottom: 109px;
  @include _1024 {
    padding-bottom: 57px;
  }
}

.documentList {
  display: flex;
  padding-top: 58px;
  flex-wrap: wrap;
  @include _1200 {
    flex-direction: column;
    padding-top: 34px;
  }
}

.titleList {
  font-size: 30px;
  letter-spacing: 0.02em;
  @include _576 {
    font-size: 28px;
  }
}

.buttonList {
  display: block;
  margin: 0 auto;
}
