@import "../../../../assets/style/theme.scss";
@import "../../../../assets/style/mixin.scss";

.loader {
  width: 100%;
  min-height: 158px;
}

.wrapper {
  position: relative;
  padding: 0 14px;
}

.colTitles {
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $Base-color-1;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  & > span {
    width: 33.333%;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: $Base-color-3;
    @include _576 {
      padding: 0 5px;
      font-size: 16px;
    }
  }
}

.swiperWrapper {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.swiperSlide {
  height: auto !important;
  padding: 23px 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  & span {
    width: 33.333%;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    letter-spacing: 0.02em;
    @include _576 {
      padding: 0 5px;
      font-size: 16px;
    }

    &:first-child {
      flex-grow: 0;
    }
  }
}
.slideButton {
  width: 39px;
  height: 39px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.prev {
  left: -15px;
}
.next {
  right: -15px;
}
