@import "../../assets/style/theme.scss";
@import "../../assets/style/mixin.scss";


.main {
  display: flex;
  padding-top: 69px;
  padding-bottom: 64px;

  @include _1024 {
    display: block;
    padding-top: 20px;
    padding-bottom: 24px;
  }
}

