@import "../../../assets/style/theme.scss";
@import "../../../assets/style/mixin.scss";

.box {
  display: flex;
  align-items: center;
  user-select: none;
  @include _1024 {
    width: 100%;
    margin-top: auto;
    flex-direction: column;
    padding: 0 40px;
  }
}

.register {
  opacity: 0.4;
  @include _1024 {
    color: $Base-color-3;
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}

.line {
  margin: 0 20px;
  width: 2px;
  align-self: normal;
  background-color: $Secondary-color-2;
  border-radius: 5px;
  @include _1024 {
    display: none;
  }
}

.login {
  display: inline-block;
  padding: 5px 10px;
  background-color: $Secondary-color-2;
  border-radius: 5px;
  color: $Base-color-2;
  @include _1024 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 0.01em;
  }
}
