@import "../../../assets/style/theme.scss";
@import "../../../assets/style/mixin.scss";

.box {
  padding: 14px 10px;
  margin: 0 auto;
  background-color: $Secondary-color-7;
  opacity: 0.3;
  border-radius: 5px;
  font-size: 10px;
  color: $Base-color-2;
  opacity: 0.4;

  span {
    font-size: 14px;
    margin-left: 9px;
  }

  p {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

.used {
  color: $Base-color-2;
}

.limit {
  color: $Secondary-color-8;
}
