@import "../../../../assets/style/theme.scss";
@import "../../../../assets/style/mixin.scss";

.section {
  padding-bottom: 107px;
  @include _1024 {
    padding-bottom: 57px;
  }
}

.title {
  font-size: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 17px;
  @include _576 {
    font-size: 28px;
    letter-spacing: 0.01em;
  }
}

.textInfo {
  font-size: 18px;
  color: $Secondary-color-5;
  letter-spacing: 0.02em;
  margin-bottom: 27px;
}
