@import "../../assets/style/theme.scss";
@import "../../assets/style/mixin.scss";

.header {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.logo,
.nav,
.wrapper {
  flex-basis: 33.333%;
}

.nav {
  margin: 0 auto;
  user-select: none;
  text-align: center;
}

.link {
  letter-spacing: 0.01em;
  color: $Base-color-2;
  margin-right: 49px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}
