@import "../../assets/style/theme.scss";
@import "../../assets/style/mixin.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.logo {
  flex-basis: 33.333%;
}
