@import "../../../assets/style/theme.scss";
@import "../../../assets/style/mixin.scss";

.price {
  font-weight: 500;
  font-size: 30px;
  margin-right: 20px;
}

.lowPrice {
  font-weight: 500;
  font-size: 25px;
  opacity: 0.5;
}

.description {
  font-size: 18px;
}
