@import "~normalize.css";
@import "./assets/style/theme.scss";
@import "./assets/style/mixin.scss";
// fonts
@font-face {
  font-family: "Ferry Black";
  src: url("./assets/fonts/Ferry-Black.eot"),
    url("./assets/fonts/Ferry-Black.woff") format("woff"),
    url("./assets/fonts/Ferry-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

// style

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Ferry Black";
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// class

.container {
  padding-left: 60px;
  padding-right: 60px;
}