@import "../../assets/style/theme.scss";
@import "../../assets/style/mixin.scss";

.footer {
  background-color: $Base-color-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.infoGroup {
  padding: 25px 0;
  text-align: right;
  display: flex;
  flex-direction: column;

  & a,
  span {
    color: $Base-color-3;
  }
}

.copyright {
  margin-top: 21px;
}
